html{
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
    --fill: #0012b3;
    --lightfill: #0012b3;
}

body {
    background: radial-gradient(#0398bd, #11c443, #bfd70a);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    margin-left: 50px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:20% 100%}
    100%{background-position:13% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@keyframes AnimationName { 
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}

h1, .main-link, .back-link {
    margin: auto;
    text-decoration: none;
    color: var(--fill);
    font-weight: 700;
    /*text-shadow: 1px 1px 3px #004e6280;*/
}

.main-link {
    -webkit-text-stroke: 3px var(--fill);
}


.back-link:hover, .main-link:hover, .main-link > span, h1 > span { 
    color: transparent;
}

.back-link:hover, .main-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h1, .back-link {
    font-size: 3em;
    font-weight: 700;
    -webkit-text-stroke: 2px var(--fill);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

p {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.main-text {
    font-size: 6em;
    margin: auto;
    font-weight: 700;
}

.subtitle {
    font-size: 2em;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1%;
    margin-left: 50px;
    color: white;
    font-size: 1.2em;
}

.back-link {
    font-weight: 600;
    position: fixed;
    right: 2%;
    bottom: 1%;
    float: right;
    font-size: 2.5em;
    -webkit-text-stroke: 2px var(--fill);
}

.back-link:hover {
    -webkit-text-stroke: 2px var(--fill);
}

.quiz {
    margin-top:20px;
    max-width: 80%;
    height: auto;
    border: solid white 1px;
    color: white;
    overflow: hidden;
    display: block;
    margin-bottom: 0px;
}


.hidden {
    display: none;
}

.scrollbox {
    margin-top:0px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 50%;
    max-height: 30%;
    padding: 5px;
    margin-bottom: 20px;
}

.scrollbox > p {
    font-size: 1em;
    margin: auto;
    padding: 5px;
}

.quizl {
    float: left;
    display: inline-block;
}

.quizr {
    float: right;
    display: inline-block;
    margin-right: 20px;
}

emph {
    color: var(--fill);
    font-weight: 600;
}

img {
    filter: drop-shadow(2px 0 0 white) 
            drop-shadow(0 2px 0 white)
            drop-shadow(-2px 0 0 white) 
            drop-shadow(0 -2px 0 white);
}

.out {
    color: var(--fill);
}

::selection {
    background: #79d5dd76;
}
::-moz-selection {
    background: #79d5dd76;
}